[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-caas-registry-committers
[project]
	description = packages, configures, and integrates the components responsible for managing container images. Docker Registry (https://github.com/docker/distribution ) is used as the front-end, and Swift object store (https://github.com/openstack/swift ) is used as the backend component.
